table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.remove {
  cursor: pointer;
}


td {
  padding-right: 8px;
}

.form-content {
  display: flex;
  .mr-custom {
    margin-right: 5px;
  }
}

