<div class="container mt-4">
  <form [formGroup]="form" style="display: flex;">
    <div style="margin-right: 10px;">
      <mat-form-field>
        <mat-label>Docente</mat-label>
        <mat-select formControlName="docente">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher?.id">
            {{teacher?.name}} {{teacher?.surname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Classe</mat-label>
        <mat-select formControlName="classe">
          <mat-option *ngFor="let class of classes" [value]="class?.id">
            {{class?.anno}} {{class?.sezione}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>








<app-teacher></app-teacher>
